:host {
  background-color: #1e1e1e;
}

.add-field-dialog-container {
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;

  h2 {
    margin: 0;
    font-size: 18px;
  }

  button[mat-icon-button] {
    color: #ffffff;
  }
}

.dialog-content {
  padding: 16px 24px;

  .section-title {
    font-size: 14px;
    margin: 24px 0 8px;
    font-weight: normal;
    color: #a1a1aa;
  }

  .field-type-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 24px;

    .field-type-box {
      width: 100%;
      background-color: rgba(#D5CCF5, 0.16);
      border: 1px solid rgba(#D5CCF5, 0.5);
      border-radius: 8px;
      text-align: center;
      margin-bottom: 10px;
      cursor: pointer;
      transition: background 0.2s;
      color: #AC99EA;

      &:hover {
        background-color: #3a3a3a;
      }

      .icon {
        font-size: 24px;
        color: #ac99ea;
        margin-bottom: 8px;
      }

      mat-icon {
        font-size: 24px;
        color: #ac99ea;
        display: block;
        margin: 0 auto 8px;
      }
    }
  }

  .field-type-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .field-type-grid-wrapper {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 24px;
  }
  .field-name-input {
    width: 100%;

    mat-label {
      color: #a1a1a1;
    }

    input {
      color: #ffffff;
      background-color: transparent;
    }
  }

  .required-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    mat-checkbox {
      color: #ac99ea;
      margin-bottom: 4px;

      &.mat-accent .mat-checkbox-frame {
        border-color: #ac99ea !important;
      }
    }

    small {
      font-size: 12px;
      color: #a1a1aa;
    }
  }
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
  border-top: 1px solid #333;

  .add-field-button {
    background-color: #ac99ea;
    color: #ffffff;
    font-weight: 500;
    text-transform: none;
    &:hover {
      background-color: #9b88df;
    }
  }
}

::ng-deep .mat-mdc-checkbox.mat-accent .mdc-label {
  color: #ffffff !important;
}

::ng-deep .mat-mdc-checkbox.mat-accent .mdc-checkbox__background {
  border-color: rgba($color: #ffffff, $alpha: 0.56) !important;
}

::ng-deep
  .mat-mdc-checkbox.mat-accent.mdc-checkbox--checked
  .mdc-checkbox__background {
  background-color: #ac99ea !important;
}

::ng-deep
  .mat-mdc-checkbox.mat-accent.mdc-checkbox--checked
  .mdc-checkbox__background
  .mdc-checkbox__checkmark-path {
  stroke: #ffffff !important;
}

.box {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.12);
    background-color: #232323;
    cursor: pointer;
}

.label {
    color: #ffffff;
    margin-bottom: 4px;
  }

  .description {
    font-size: 12px;
    color: rgba($color: #ffffff, $alpha: 0.7);
    text-align: center;
  }
  .mat-mdc-form-field {
    --mdc-text-field-label-ink-color: red !important; /* Label text color */
    --mdc-text-field-input-text-color: green !important; /* Input text color */
    --mdc-text-field-outline-color: blue !important; /* Default border color */
    --mdc-text-field-focus-outline-color: purple !important; /* Focus border color */
  }
  