<div class="add-field-dialog-container">
  <div class="dialog-header">
    <h2>Add new field</h2>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-content">
    <h3 class="section-title">1. Select field type</h3>
    <div class="field-type-grid-wrapper">
      <div class="field-type-grid">
        <div *ngFor="let ft of fieldTypes" class="box">
          <mat-icon class="field-type-box">
            {{ ft.icon }}
          </mat-icon>
          <div class="label">{{ ft.label }}</div>
          <div class="description">{{ ft.description }}</div>
        </div>
      </div>
    </div>

    <h3 class="section-title">2. Field settings</h3>
    <mat-form-field appearance="outline" class="input-field">
        <mat-label>Field name</mat-label>
        <input matInput >
      </mat-form-field>

    <div class="required-field">
      <mat-checkbox [(ngModel)]="requiredField">Required field</mat-checkbox>
      <small
        >You will not be able to create an entry if this field is empty</small
      >
    </div>
  </div>

  <div class="dialog-footer">
    <button mat-flat-button class="add-field-button" (click)="onAddField()">
      Add new field
    </button>
  </div>
</div>
