:host {
  display: flex;
  flex-direction: column;
  background: #141414;
  color: white;
  height: 100vh;
  box-sizing: border-box;
  padding: 24px;
  width: 100vw;
}

.header {
  margin-bottom: 20px;
}

.create-card {
  background: rgba(255, 255, 255, 0.1);
}

.recent-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.header {
  margin: 0;
}

.subheader {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 5px;
}
