<div class="stats-container">
  <div class="stats-card create-new" (click)="openPopup()">
    <div class="icon-container">
      <mat-icon>add</mat-icon>
    </div>
    <span>Create New Collection Type</span>
  </div>

  <div class="stats-card">
    <div class="icon-container">
      <mat-icon>web</mat-icon>
    </div>
    <div class="stats-content">
      <h2>{{ numberOfCollectionTypes }}</h2>
      <span>Created Collection Types</span>
    </div>
  </div>

  <div class="stats-card">
    <div class="icon-container green">
      <mat-icon>public</mat-icon>
    </div>
    <div class="stats-content">
      <h2>{{ numberOfPublishedCollectionTypes }}</h2>
      <span class="green-text">Published Types</span>
    </div>
  </div>

  <div class="stats-card">
    <div class="icon-container blue-icon">
      <mat-icon>edit_notes</mat-icon>
    </div>
    <div class="stats-content">
      <h2>{{ numberOfCollectionTypes - numberOfPublishedCollectionTypes }}</h2>
      <span class="blue">Drafts</span>
    </div>
  </div>
</div>
