@use "../../variables" as vars;
@use "sass:color";

:host {
  display: flex;
  flex-grow: 1;
}

.layout {
  display: flex;
  height: 100vh;
  flex-grow: 1;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: vars.$background-default;
  color: vars.$text-primary;
}

.footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: auto;

  button {
    align-self: flex-end;
  }
}

.save-button {
  border-radius: 4px;
  background-color: vars.$primary-main;
  margin-right: 8px;
  margin-top: 10px;
  color: vars.$primary-contrast-text !important;
  transition: background-color 0.3s ease;

  &:hover:not(:disabled) {
    background-color: color.adjust(vars.$primary-main, $lightness: -10%);
  }
}

.save-button:disabled,
.save-button[disabled] {
  color: vars.$action-disabled !important;
  background-color: vars.$action-disabled-background;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: vars.$background-paper-elevation-1;
}

.content h2 {
  margin: 0 0 8px;
  font-size: 20px;
}

.content p {
  margin: 0 0 16px;
  font-size: 14px;
  color: vars.$text-secondary;
}

.settings-button {
  color: vars.$primary-main;
  border: vars.$primary-outlined-border;
  border-radius: 4px;
}

.title-block h1 {
  margin: 0;
  font-size: 24px;
}

.title-block p {
  margin: 4px 0 0;
  font-size: 14px;
  color: vars.$text-secondary;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.back-button {
  height: 40px;
  display: flex;
  color: vars.$primary-main;
  cursor: pointer;
  align-items: center;

  mat-icon {
    margin-right: 4px;
  }
}

.back-button:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.floating-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  pointer-events: none;
}

.floating-menu {
  position: absolute;
  z-index: 1001;
  background-color: vars.$background-paper-elevation-8;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  pointer-events: auto;
}
