<div class="layout">
  <app-sidebar headerText="Content Manager"></app-sidebar>
  <div class="container">
    <div class="header">
      <div class="title-block">
        <h1>Type Name</h1>
        <p>Create the content of your design</p>
      </div>
      <button mat-icon-button class="settings-button">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <ng-container
      *ngIf="!itemsData || itemsData.length === 0; else fieldsPresent"
    >
      <div class="content">
        <img src="assets/illustration.svg" alt="No content" />
        <h2>There are no fields created yet</h2>
        <p>Add your first field to this Collection-Type</p>
        <app-button text="+ Add new {{selectedType}}"></app-button>
      </div>
    </ng-container>

    <ng-template #fieldsPresent>
      <div class="fields-list">
        <app-content-table [items]="itemsData"></app-content-table>
      </div>
    </ng-template>
    <div class="footer">
      <hr />
      <button mat-button class="save-button" [disabled]="disabled">
        Save your content
      </button>
    </div>
  </div>
</div>
