<div class="scrollable-list">
  <div class="fields-list">
    <div class="fields-list-row" *ngFor="let field of fields">
      <div class="left-col">
        <div class="drag-handle">
          <mat-icon>drag_indicator</mat-icon>
        </div>
        <div class="field-icon" *ngIf="field.iconText">
          {{ field.iconText }}
        </div>
        <div class="field-icon" *ngIf="field.iconName">
          <mat-icon>{{ field.iconName }}</mat-icon>
        </div>
        <div class="field-name">{{ field.name }}</div>
      </div>

      <div class="middle-col">
        <div class="field-type-pill">{{ field.type }}</div>
      </div>

      <div class="right-col">
        <div class="field-actions">
          <button mat-icon-button (click)="onEdit(field)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="field-actions">
          <button mat-icon-button (click)="onEdit(field)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
