.fields-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fields-list-row {
  display: flex;
  align-items: center;
  background: #1e1e1e;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.left-col {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 8px;
  max-width: 33%;
  width: 33%;
}

.middle-col {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.right-col {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.drag-handle {
  color: rgba($color: #aaaaaa, $alpha: 0.12);
  cursor: move;
}

.field-icon {
  background-color: rgba($color: #d5ccf5, $alpha: 0.16);
  color: #ac99ea;
  width: 50px;
  height: 32px;
  margin-left: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid rgba($color: #d5ccf5, $alpha: 0.5);
}

.field-name {
  color: #ffffff;
  font-size: 14px;
}

.field-type-pill {
  color: #ffffff;
  background: transparent;
  border: 1px solid #616161;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.field-actions {
  display: flex;
  justify-content: flex-end;
}

.scrollable-list {
  height: 63vh;
  overflow-y: auto;
}
