<div class="fields-container">
  <div class="fields-container__scrollable-list">
    <div
      class="fields-container__list"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="fields"
    >
      @for (field of fields; track trackByField($index, field)) {
        <div class="fields-container__row" cdkDrag [cdkDragData]="field">
          <div class="fields-container__column fields-container__column--left">
            <div class="fields-container__drag-handle" cdkDragHandle>
              <mat-icon>drag_indicator</mat-icon>
            </div>
            @if (field.iconText || field.iconName) {
              <div class="fields-container__icon">
                @if (field.iconText) {
                  {{ field.iconText }}
                }
                @if (field.iconName) {
                  <mat-icon>{{ field.iconName }}</mat-icon>
                }
              </div>
            }
            <span class="fields-container__name">{{ field.name }}</span>
          </div>
          <div class="fields-container__column fields-container__column--middle">
            <app-pill [text]="field.type"></app-pill>
          </div>
          <div class="fields-container__column fields-container__column--right">
            @if (field.name.toLowerCase() !== 'id') {
              <button
                mat-icon-button
                class="fields-container__action-button"
                (click)="onEdit(field)"
                aria-label="Edit field"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                class="fields-container__action-button"
                (click)="onDelete(field)"
                aria-label="Delete field"
              >
                <mat-icon>delete</mat-icon>
              </button>
            }
          </div>
        </div>
      }

      @if (fields.length === 0) {
        <div class="fields-container__empty">No fields available</div>
      }
    </div>
  </div>
</div>
