<div class="sidebar-header">
  @if (!isSearching) {
    <span class="header-text">{{ headerText }}</span>
    <button class="header-icon" aria-label="Search" (click)="toggleSearch()">
      <mat-icon>search</mat-icon>
    </button>
  } @else {
    <div class="search-container">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        #searchInput
        type="text"
        placeholder="Search collection types..."
        [(ngModel)]="searchText"
        (blur)="closeSearch()"
        (input)="onSearchTextChange(searchText)"
        (keydown)="onKeyDown($event)"
        autocomplete="off"
      />
      @if (searchText) {
        <button class="clear-button" aria-label="Clear search" (click)="clearSearch()">
          <mat-icon class="close-icon">close</mat-icon>
        </button>
      }
    </div>
  }
</div>

<div class="sidebar-divider"></div>

<div class="section-title">Collection Types</div>

@if (headerText !== 'Content Manager') {
  <div class="add-button-container">
    <app-button
      (click)="openAddCollectionTypeDialog()"
      text="+ Add new collection type"
    ></app-button>
  </div>
}

<div class="scrollable-list">
  @let selectedType = selectedType$ | async;
  @if (filteredCollectionTypes.length > 0) {
    <mat-list>
      @for (type of filteredCollectionTypes; track trackByFn($index, type)) {
        <mat-list-item
          class="custom-list-item"
          [attr.aria-label]="type"
          [ngClass]="{ selected: selectedType === type }"
          (click)="selectCollectionType(type)"
        >
          @if (type === 'Users') {
            <mat-icon class="item-icon">people</mat-icon>
          }
          {{ type }}
          <mat-icon class="item-icon-end item-icon-red" (click) = "openDeleteCollectionTypeDialog(type)">delete</mat-icon>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    <div class="no-results">
      <mat-icon>search_off</mat-icon>
      <p>No collection types found</p>
      <p class="search-hint">Try different search terms</p>
    </div>
  }
</div>
