<div class="sidebar-header">
  <ng-container *ngIf="!isSearching; else searchField">
    <span>{{headerText}}</span>
    <mat-icon class="header-icon" (click)="toggleSearch()">search</mat-icon>
  </ng-container>

  <ng-template #searchField>
    <div class="search-container">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        type="text"
        placeholder="Type..."
        [(ngModel)]="searchText"
        (blur)="closeSearch()"
        (ngModelChange)="onSearchTextChange($event)"
      />
      <mat-icon class="close-icon" (click)="clearSearch()">close</mat-icon>
    </div>
  </ng-template>
</div>
<hr />

<div class="section-title">Collection Types</div>
<app-button *ngIf="headerText != 'Content Manager'" text="+ Add new collection type"></app-button>
<div class="scrollable-list">
  <mat-list>
    <mat-list-item
      class="custom-list-item"
      *ngFor="let type of filteredCollectionTypes"
      >{{ type }}</mat-list-item
    >
  </mat-list>
</div>
