@use "../variables" as vars;

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-left-menu {
  flex-shrink: 0;
}

app-sidebar {
  flex-shrink: 0;
  width: 250px;
}

.main-content {
  flex-grow: 1;
  background-color: vars.$background-default;
  width: 100%;
  overflow: hidden;
}

.loading-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
  p {
    margin: 16px 0 0;
    font-size: 14px;
  }
}