@use '@angular/material' as mat;
@use '@angular/material/form-field' as matFormField;

@include mat.core();

$custom-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$custom-accent: mat.m2-define-palette(mat.$m2-pink-palette);

$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
  ),
));

@include mat.all-component-themes($custom-theme);
