<div class="context-menu" role="menu">
  <button class="context-menu__item context-menu__item--edit" (click)="onEdit()" role="menuitem"
    [attr.aria-label]="editText"
    [disabled]="updateDisabled">
    <mat-icon>edit</mat-icon>
    <span class="context-menu__text">{{ editText }}</span>
  </button>

  <button class="context-menu__item context-menu__item--delete" (click)="onDelete()" [attr.aria-label]="deleteText"
    [disabled]="deleteDisabled" role="menuitem">
    <mat-icon>delete</mat-icon>
    <span class="context-menu__text">{{ deleteText }}</span>
  </button>
</div>