/* src/styles.scss */
html {
  --mat-sys-background: #faf9fd;
  --mat-sys-error: #ba1a1a;
  --mat-sys-error-container: #ffdad6;
  --mat-sys-inverse-on-surface: #f2f0f4;
  --mat-sys-inverse-primary: #abc7ff;
  --mat-sys-inverse-surface: #2f3033;
  --mat-sys-on-background: #1a1b1f;
  --mat-sys-on-error: #ffffff;
  --mat-sys-on-error-container: #410002;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-on-primary-container: #001b3f;
  --mat-sys-on-primary-fixed: #001b3f;
  --mat-sys-on-primary-fixed-variant: #00458f;
  --mat-sys-on-secondary: #ffffff;
  --mat-sys-on-secondary-container: #131c2b;
  --mat-sys-on-secondary-fixed: #131c2b;
  --mat-sys-on-secondary-fixed-variant: #3e4759;
  --mat-sys-on-surface: #1a1b1f;
  --mat-sys-on-surface-variant: #44474e;
  --mat-sys-on-tertiary: #ffffff;
  --mat-sys-on-tertiary-container: #00006e;
  --mat-sys-on-tertiary-fixed: #00006e;
  --mat-sys-on-tertiary-fixed-variant: #0000ef;
  --mat-sys-outline: #74777f;
  --mat-sys-outline-variant: #c4c6d0;
  --mat-sys-primary: #005cbb;
  --mat-sys-primary-container: #d7e3ff;
  --mat-sys-primary-fixed: #d7e3ff;
  --mat-sys-primary-fixed-dim: #abc7ff;
  --mat-sys-scrim: #000000;
  --mat-sys-secondary: #565e71;
  --mat-sys-secondary-container: #dae2f9;
  --mat-sys-secondary-fixed: #dae2f9;
  --mat-sys-secondary-fixed-dim: #bec6dc;
  --mat-sys-shadow: #000000;
  --mat-sys-surface: #faf9fd;
  --mat-sys-surface-bright: #faf9fd;
  --mat-sys-surface-container: #efedf0;
  --mat-sys-surface-container-high: #e9e7eb;
  --mat-sys-surface-container-highest: #e3e2e6;
  --mat-sys-surface-container-low: #f4f3f6;
  --mat-sys-surface-container-lowest: #ffffff;
  --mat-sys-surface-dim: #dbd9dd;
  --mat-sys-surface-tint: #005cbb;
  --mat-sys-surface-variant: #e0e2ec;
  --mat-sys-tertiary: #343dff;
  --mat-sys-tertiary-container: #e0e0ff;
  --mat-sys-tertiary-fixed: #e0e0ff;
  --mat-sys-tertiary-fixed-dim: #bec2ff;
  --mat-sys-neutral-variant20: #2d3038;
  --mat-sys-neutral10: #1a1b1f;
}
html {
  --mat-sys-level0:
    0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level1:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level2:
    0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level3:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level4:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-level5:
    0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14),
    0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
html {
  --mat-sys-body-large: 400 1rem / 1.5rem Roboto;
  --mat-sys-body-large-font: Roboto;
  --mat-sys-body-large-line-height: 1.5rem;
  --mat-sys-body-large-size: 1rem;
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-large-weight: 400;
  --mat-sys-body-medium: 400 0.875rem / 1.25rem Roboto;
  --mat-sys-body-medium-font: Roboto;
  --mat-sys-body-medium-line-height: 1.25rem;
  --mat-sys-body-medium-size: 0.875rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-medium-weight: 400;
  --mat-sys-body-small: 400 0.75rem / 1rem Roboto;
  --mat-sys-body-small-font: Roboto;
  --mat-sys-body-small-line-height: 1rem;
  --mat-sys-body-small-size: 0.75rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-body-small-weight: 400;
  --mat-sys-display-large: 400 3.562rem / 4rem Roboto;
  --mat-sys-display-large-font: Roboto;
  --mat-sys-display-large-line-height: 4rem;
  --mat-sys-display-large-size: 3.562rem;
  --mat-sys-display-large-tracking: -0.016rem;
  --mat-sys-display-large-weight: 400;
  --mat-sys-display-medium: 400 2.812rem / 3.25rem Roboto;
  --mat-sys-display-medium-font: Roboto;
  --mat-sys-display-medium-line-height: 3.25rem;
  --mat-sys-display-medium-size: 2.812rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-medium-weight: 400;
  --mat-sys-display-small: 400 2.25rem / 2.75rem Roboto;
  --mat-sys-display-small-font: Roboto;
  --mat-sys-display-small-line-height: 2.75rem;
  --mat-sys-display-small-size: 2.25rem;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-display-small-weight: 400;
  --mat-sys-headline-large: 400 2rem / 2.5rem Roboto;
  --mat-sys-headline-large-font: Roboto;
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-headline-large-weight: 400;
  --mat-sys-headline-medium: 400 1.75rem / 2.25rem Roboto;
  --mat-sys-headline-medium-font: Roboto;
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-medium-weight: 400;
  --mat-sys-headline-small: 400 1.5rem / 2rem Roboto;
  --mat-sys-headline-small-font: Roboto;
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: 400;
  --mat-sys-label-large: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-label-large-font: Roboto;
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-large-weight: 500;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium: 500 0.75rem / 1rem Roboto;
  --mat-sys-label-medium-font: Roboto;
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-medium-weight: 500;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small: 500 0.688rem / 1rem Roboto;
  --mat-sys-label-small-font: Roboto;
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-label-small-weight: 500;
  --mat-sys-title-large: 400 1.375rem / 1.75rem Roboto;
  --mat-sys-title-large-font: Roboto;
  --mat-sys-title-large-line-height: 1.75rem;
  --mat-sys-title-large-size: 1.375rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-large-weight: 400;
  --mat-sys-title-medium: 500 1rem / 1.5rem Roboto;
  --mat-sys-title-medium-font: Roboto;
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-medium-weight: 500;
  --mat-sys-title-small: 500 0.875rem / 1.25rem Roboto;
  --mat-sys-title-small-font: Roboto;
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-title-small-weight: 500;
}
html {
  --mat-sys-corner-extra-large: 28px;
  --mat-sys-corner-extra-large-top: 28px 28px 0 0;
  --mat-sys-corner-extra-small: 4px;
  --mat-sys-corner-extra-small-top: 4px 4px 0 0;
  --mat-sys-corner-full: 9999px;
  --mat-sys-corner-large: 16px;
  --mat-sys-corner-large-end: 0 16px 16px 0;
  --mat-sys-corner-large-start: 16px 0 0 16px;
  --mat-sys-corner-large-top: 16px 16px 0 0;
  --mat-sys-corner-medium: 12px;
  --mat-sys-corner-none: 0;
  --mat-sys-corner-small: 8px;
}
html {
  --mat-sys-dragged-state-layer-opacity: 0.16;
  --mat-sys-focus-state-layer-opacity: 0.12;
  --mat-sys-hover-state-layer-opacity: 0.08;
  --mat-sys-pressed-state-layer-opacity: 0.12;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family:
    Roboto,
    "Helvetica Neue",
    sans-serif;
}
:root {
  box-sizing: border-box;
  width: 100%;
}
:root .mat-mdc-select-value {
  color: #ffffff;
}
:root .mat-mdc-dialog-surface {
  border-radius: 8px;
}
:root mat-dialog-container {
  max-height: 80vh;
}
:root ::-webkit-scrollbar {
  width: 6px;
}
:root ::-webkit-scrollbar-thumb {
  background-color: rgba(172, 153, 234, 0.3) !important;
  border-radius: 3px;
}
:root ::-webkit-scrollbar-track {
  background: green;
}
:root * {
  scrollbar-width: thin;
  scrollbar-color: rgba(172, 153, 234, 0.3) transparent;
}
:root {
  --mdc-outlined-text-field-label-text-color: rgba(255, 255, 255, 0.7);
}
:root {
  --mdc-outlined-text-field-hover-label-text-color: rgba(255, 255, 255, 0.7);
}
:root {
  --mdc-outlined-text-field-input-text-color: #ffffff;
}
:root {
  --mdc-filled-text-field-hover-label-text-color: rgba(255, 255, 255, 0.7);
}
:root {
  --mdc-filled-text-field-focus-active-indicator-color: rgba(255, 255, 255, 0.7);
}
:root {
  --mdc-outlined-text-field-hover-outline-color: #ac99ea;
}
:root {
  --mdc-filled-text-field-active-indicator-color: #ac99ea;
}
:root {
  --mdc-outlined-text-field-focus-outline-color: #ac99ea;
}
:root {
  --mdc-outlined-text-field-focus-label-text-color: #ac99ea;
}
:root {
  --mdc-filled-text-field-error-hover-label-text-color: #ef5350;
}
:root {
  --mdc-filled-text-field-error-focus-label-text-color: #ef5350;
}
:root {
  --mdc-filled-text-field-error-label-text-color: #ef5350;
}
:root {
  --mdc-filled-text-field-error-caret-color: #ef5350;
}
:root {
  --mdc-filled-text-field-error-active-indicator-color: #ef5350;
}
:root {
  --mdc-filled-text-field-error-focus-active-indicator-color: #ef5350;
}
:root {
  --mdc-filled-text-field-error-hover-active-indicator-color: #ef5350;
}
:root {
  --mdc-outlined-text-field-error-caret-color: #ef5350;
}
:root {
  --mdc-outlined-text-field-error-focus-label-text-color: #ef5350;
}
:root {
  --mdc-outlined-text-field-error-label-text-color: #ef5350;
}
:root {
  --mdc-outlined-text-field-error-hover-label-text-color: #ef5350;
}
:root {
  --mdc-outlined-text-field-error-focus-outline-color: #ef5350;
}
:root {
  --mdc-outlined-text-field-error-hover-outline-color: #ef5350;
}
:root {
  --mdc-outlined-text-field-error-outline-color: #ef5350;
}
:root {
  --mat-form-field-error-text-color: #ef5350;
}
:root {
  --mat-form-field-error-focus-trailing-icon-color: #ef5350;
}
:root {
  --mat-form-field-error-hover-trailing-icon-color: #ef5350;
}
:root {
  --mat-form-field-error-trailing-icon-color: #ef5350;
}
:root {
  --mdc-filled-text-field-input-text-color: #ffffff;
}
:root {
  --mdc-filled-text-field-input-text-placeholder-color: #ffffff;
}
:root {
  --mdc-filled-text-field-focus-label-text-color: #ffffff;
}
:root {
  --mdc-filled-text-field-label-text-color: #ffffff;
}
:root {
  --mdc-filled-text-field-disabled-label-text-color: #ffffff;
}
:root {
  --mdc-outlined-text-field-disabled-label-text-color: #ffffff;
}
:root {
  --mdc-outlined-text-field-input-text-placeholder-color: #ffffff;
}
:root {
  --mat-form-field-select-option-text-color: #ffffff;
}
:root {
  --mdc-checkbox-unselected-icon-color: rgba(255, 255, 255, 0.56);
}
:root {
  --mdc-checkbox-unselected-focus-icon-color: rgba(255, 255, 255, 0.56);
}
:root {
  --mdc-checkbox-selected-pressed-icon-color: #ac99ea;
}
:root {
  --mdc-checkbox-selected-icon-color: #ac99ea;
}
:root {
  --mdc-checkbox-selected-focus-icon-color: #ac99ea;
}
:root {
  --mdc-checkbox-selected-hover-icon-color: #ac99ea;
}
:root {
  --mdc-checkbox-unselected-hover-icon-color: rgba(255, 255, 255, 0.56);
}
:root {
  --mdc-checkbox-selected-checkmark-color: #121212;
}
:root {
  --mdc-checkbox-selected-hover-state-layer-color: #121212;
}
:root {
  --mdc-checkbox-unselected-pressed-state-layer-color: #121212;
}
:root {
  --mdc-checkbox-unselected-hover-state-layer-color: #121212;
}
:root {
  --mdc-checkbox-selected-pressed-state-layer-color: #121212;
}
:root {
  --mdc-checkbox-selected-focus-state-layer-color: #121212;
}
:root {
  --mdc-checkbox-unselected-focus-state-layer-color: #121212;
}
:root {
  --mdc-checkbox-selected-hover-state-layer-opacity: 1;
}
:root {
  --mdc-checkbox-unselected-hover-state-layer-opacity: 1;
}
:root {
  --mdc-checkbox-selected-focus-state-layer-opacity: 0;
}
:root {
  --mdc-checkbox-unselected-pressed-state-layer-opacity: 0;
}
:root {
  --mdc-checkbox-selected-pressed-state-layer-opacity: 0;
}
:root {
  --mat-checkbox-label-text-color: #ffffff;
}
:root {
  --mdc-circular-progress-active-indicator-color: #ac99ea;
}
:root {
  --mdc-dialog-container-color: #1e1e1e;
}
:root {
  background-color: #121212;
}
hr {
  width: 100%;
  border-color: rgba(255, 255, 255, 0.2);
}
.floating-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}
.floating-menu {
  position: absolute;
  z-index: 1001;
  pointer-events: auto;
  background-color: #2e2e2e;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* angular:styles/global:styles */
/*# sourceMappingURL=styles.css.map */
