@use "../../variables" as vars;

:host {
  box-sizing: border-box;
  height: 100vh;
}

.recent-content {
  background: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  color: vars.$text-primary;
}

.history-icon {
  margin-right: 8px;
  color: vars.$text-primary;
}

.custom-table {
  display: grid;
  gap: 5px;
}

.custom-row,
.header-row {
  display: grid;
  grid-template-columns:
    minmax(100px, 2fr) minmax(150px, 2.3fr) minmax(80px, 1.8fr)
    minmax(120px, 2fr) minmax(40px, 0.5fr);
  align-items: center;
  background: vars.$background-paper-elevation-1;
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-row {
  font-weight: bold;
  background: vars.$background-paper-elevation-1;
  padding: 12px 16px;
  box-shadow: none;
}

.cell {
  padding: 8px 0;
  margin-right: 5px;
  text-align: left;
  display: flex;
  align-items: center;
}

.actions-cell {
  display: flex;
  justify-content: flex-end;
}

.scrollable-list {
  height: 100vh;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .custom-row,
  .header-row {
    grid-template-columns: 1fr;
    gap: 4px;
    padding: 12px;
  }

  .cell {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }

  .header-row {
    display: none;
  }

  .custom-row {
    flex-direction: column;
    background: vars.$background-paper-elevation-1;
    border: vars.$divider;
  }

  .actions-cell {
    justify-content: center;
    margin-top: 8px;
  }
}
