<div class="recent-content">
  <div class="table-header">
    <mat-icon class="history-icon">history</mat-icon>
    <span>Recent Content-Types</span>
  </div>

  <div class="custom-row header-row" style="margin-bottom: 5px">
    <div class="cell">Title</div>
    <div class="cell">Description</div>
    <div class="cell" style="justify-content: center">Status</div>
    <div class="cell">Last edited</div>
    <div class="cell actions-cell"></div>
  </div>
  <div class="scrollable-list">
    <div class="custom-table">
      <div *ngFor="let element of dataSource.data" class="custom-row">
        <div class="cell">{{ element.title }}</div>
        <div class="cell">{{ element.description }}</div>
        <div class="cell" style="justify-content: center">
          <span *ngIf="element.status !== '-'">
            <app-pill [text]="element.status"></app-pill>
          </span>
          <span *ngIf="element.status === '-'">-</span>
        </div>
        <div class="cell">{{ element.lastEdited }}</div>
        <div class="cell actions-cell">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
