<div class="form-container scrollable-list">
  <form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <div class="form-column left-column">
        <ng-container *ngFor="let field of leftColumnFields">
          <mat-form-field appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <ng-container [ngSwitch]="field.type">
              <input 
                *ngSwitchCase="'text'" 
                matInput 
                [placeholder]="field.placeholder || ''" 
                [formControlName]="field.key" 
                [required]="field.required" 
              />
              <textarea 
                *ngSwitchCase="'textarea'" 
                matInput 
                [placeholder]="field.placeholder || ''" 
                [formControlName]="field.key" 
                rows="5" 
                [required]="field.required"
              ></textarea>
            </ng-container>
            <mat-error *ngIf="contentForm.get(field.key)?.invalid && contentForm.get(field.key)?.touched">
              {{ getErrorMessage(field.key) }}
            </mat-error>
          </mat-form-field>
        </ng-container>
      </div>

      <div class="form-column right-column">
        <ng-container *ngFor="let field of fileFields">
          <div class="file-upload-container">
            <div class="file-label">{{ field.label }} <span *ngIf="field.required" class="required-field">*</span></div>
            <div class="file-upload-area" [class.has-file]="filePreviewUrl" 
                 [class.invalid-file]="fileFieldTouched && field.required && !selectedFile">
              <ng-container *ngIf="!filePreviewUrl">
                <div class="upload-instructions">
                  <mat-icon>upload_file_filled</mat-icon>
                  <div>
                    <a class="upload-link" (click)="fileInput.click()">Link</a> or drag and drop
                  </div>
                  <span class="file-types">SVG, PNG, JPG or GIF (max. 3MB)</span>
                  <input
                    #fileInput
                    type="file"
                    class="file-input"
                    accept="image/svg+xml,image/png,image/jpeg,image/gif"
                    (change)="onFileChange($event, field.key)"
                  />
                </div>
              </ng-container>
              <ng-container *ngIf="filePreviewUrl">
                <div class="file-preview">
                  <div class="file-preview-content">
                    <img [src]="filePreviewUrl" alt="Preview" class="preview-thumbnail" />
                    <div class="file-info">
                      <div class="file-name">{{ selectedFile?.name }}</div>
                      <div class="file-meta">
                        {{ getFileSize(selectedFile) }} • {{ uploadStatus }}
                      </div>
                    </div>
                  </div>
                  <div class="file-actions">
                    <button type="button" mat-icon-button class="remove-file" (click)="resetFile()">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                    <button type="button" mat-icon-button class="check-file">
                      <mat-icon>check_circle</mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
            <div *ngIf="fileFieldTouched && field.required && !selectedFile" class="file-error-message">
              Please select a file
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngFor="let field of rightColumnFields">
          <mat-form-field appearance="outline">
            <mat-label>{{ field.label }}</mat-label>
            <ng-container [ngSwitch]="field.type">
              <input 
                *ngSwitchCase="'text'" 
                matInput 
                [placeholder]="field.placeholder || ''" 
                [formControlName]="field.key" 
                [required]="field.required" 
              />
              <textarea 
                *ngSwitchCase="'textarea'" 
                matInput 
                [placeholder]="field.placeholder || ''" 
                [formControlName]="field.key" 
                rows="5" 
                [required]="field.required"
              ></textarea>
              <ng-container *ngSwitchCase="'collection'" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select [formControlName]="field.key" [attr.multiple]="field.multiple ? '' : null">
                  <mat-option *ngFor="let item of field.relatedItems" [value]="item">
                    {{ getRelationDisplayValue(item, field) }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="contentForm.get(field.key)?.invalid && contentForm.get(field.key)?.touched">
                  {{ getErrorMessage(field.key) }}
                </mat-error>
              </ng-container>
            </ng-container>
            <mat-error *ngIf="contentForm.get(field.key)?.invalid && contentForm.get(field.key)?.touched">
              {{ getErrorMessage(field.key) }}
            </mat-error>
          </mat-form-field>
        </ng-container>
      </div>
    </div>
  </form>
</div>