<div class="add-collection-type-dialog">
  <div class="dialog-header">
    <h2>Add new collection type</h2>
    <button mat-icon-button (click)="onClose()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="dialog-content">
    <hr />
    <form [formGroup]="collectionForm">
      <div class="form-field">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Display name</mat-label>
          <input
            matInput
            id="displayName"
            formControlName="displayName"
            placeholder="Enter display name"
          />
          @if (
            collectionForm.get('displayName')?.hasError('required') &&
            collectionForm.get('displayName')?.touched
          ) {
            <mat-error>Display name is required</mat-error>
          }
          @if (collectionForm.get('displayName')?.hasError('maxlength')) {
            <mat-error>Display name cannot exceed 50 characters</mat-error>
          }
          @if (collectionForm.get('displayName')?.hasError('invalidPascalCase')) {
            <mat-error> Collection name format is invalid </mat-error>
          }
          @if (collectionForm.get('displayName')?.hasError('reservedKeyword')) {
            <mat-error> Collection name is a reserved C# keyword </mat-error>
          }
          @if (collectionForm.get('displayName')?.hasError('collectionNameIsTaken')) {
            <mat-error> Collection name is already used </mat-error>
          }
        </mat-form-field>
        <div class="helper-text">
          Use ‘PascalCase’: start with a capital letter, use only letters and numbers, no spaces or
          symbols.
        </div>
      </div>
      <div class="form-field">
          <mat-checkbox formControlName="isAuditableEntity" id="isAuditableEntity">Auditable Entity</mat-checkbox>
          <div>
              <small class="description">Save audit trail for entity</small>
          </div>
      </div>
    </form>
    <hr />
  </div>

  <div class="dialog-footer">
    <button mat-flat-button class="continue-button" [disabled]="!canSubmit" (click)="onContinue()">
      @if (!isSubmitting) {
        <span>Continue</span>
      }
      @if (isSubmitting) {
        <span>Processing...</span>
      }
    </button>
  </div>
</div>
